html {
  font-size: 16px;
  line-height: 21px;
}
body {
  font-family: var(--font-heading), sans-serif;
  font-size: 1rem;
  margin: 0;
  min-width: 420px;
}

p:not(.rt-CalloutText),
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0em;
  margin-bottom: 1.3125em;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

.radix-themes {
  --heading-font-family: var(--font-heading), sans-serif;
}
