# Node.js dependencies
/node_modules
**/*/node_modules/
**/*/npm-debug.log*

# Build output
**/*/dist/**/*
**/*/tmp/
**/*/temp/

# Environment files
.env

# OS files
**/*.DS_Store
**/*Thumbs.db

# Optional: logs
**/*/logs/
**/*.log

# Optional: TypeScript
**/*.tsbuildinfo

# Generated TLS Certificates
/cert/**/*.*
