# Don't allow git URL based repos that bypass all normal audits
allow-git=none

# Don't allow packages to run scripts
ignore-scripts=true

# Don't install any package that is less than the specified amount
min-release-age=5

# Store the exact version to prevent minor patches introducing attacks
save-exact=true

color=true
